export K_OPTS=-Xmx16G

export KAVM_BIN="$(realpath .build/usr/bin/)"
export KAVM_LIB_ABS="$(realpath .build/usr/lib/kavm/)"
export KAVM_DEFINITION_DIR="$(realpath .build/usr/lib/kavm/avm-llvm/avm-execution-kompiled/)"
export K_EXECUTABLES="$(realpath .build/usr/lib/kavm/kframework/bin/)"
export PATH="$KAVM_BIN:$K_EXECUTABLES:$PATH"
export PYTHONPATH=""