export K_OPTS=-Xmx16G

export KAVM_LIB="$(realpath .build/usr/lib/kavm/)"
export KAVM_DEFINITION_DIR="$(realpath .build/usr/lib/kavm/avm-llvm/avm-testing-kompiled/)"
export K_EXECUTABLES="$(realpath .build/usr/lib/kavm/kframework/bin/)"
export PATH="$K_EXECUTABLES:$PATH"
export PYTHONPATH=""
